<div class="wrapper">
  <!-- <app-header></app-header> -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- <confirmation-modal (onInitialized)="onConfirmationModalInitialized($event)"></confirmation-modal> -->

    <!-- Main content -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
  <!-- <app-footer></app-footer> -->
</div>
<!-- ./wrapper -->
