@import "../node_modules/bootstrap/dist/css/bootstrap.css"
@import "../node_modules/font-awesome/css/font-awesome.css"

.tooltip-inner
  background-color white !important
  color gray !important
  box-shadow  0px 0px 1px 1px gray
